<!-- Created by Jack Lythgoe for rending a list of all skill enrollments -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Skill Enrolments</title>
</head>
<body>
    <h1>All Skill Enrolments</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Skill Name</th>
                <th>Skill Strength</th>
                <th>Expiry Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <% skillEnrolments.forEach(function(enrolment) { %>
                <tr>
                    <td><%= enrolment.user.first_name + ' ' + enrolment.user.last_name %></td>
                    <td><%= enrolment.skill.skill_name %></td>
                    <td><%= enrolment.skillStrength.skill_strength_name %></td>
                    <td><%= enrolment.expiry_date ? new Date(enrolment.expiry_date).toLocaleDateString() : 'N/A' %></td>
                    <td><%= enrolment.notes %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
