<!-- Navbar Code -->
<div class="navbar">
    <div class="navbar-left">
        <a href="/home"><img src="/img/G5.png" alt="Logo" class="logo"></a>
        <a href="/profile"><button class="nav-button <%= currentPage === 'profile' ? 'active' : '' %>">Personal Details</button></a>
        <a href="/my_skills"><button class="nav-button <%= currentPage === 'skills' ? 'active' : '' %>">My Skills</button></a>

        <% if (user && user.systemRole && user.systemRole.system_role_name && user.systemRole.system_role_name.toUpperCase() !== 'STAFF') { %>
            <a href="/manager/team"><button class="nav-button <%= currentPage === 'team' ? 'active' : '' %>">My Team</button></a>
        <% } %>
    </div>
    <div class="navbar-right">
        <div class="notification-bell">
            <button class="bell-icon">
                <img src="/img/bell-icon.png" alt="Notifications" class="icon">
                <% if (expiringSkills && expiringSkills.length > 0) { %>
                    <span class="notification-count"><%= expiringSkills.length %></span>
                <% } %>
            </button>

            <div class="notification-dropdown">
                <% if (expiringSkills && expiringSkills.length > 0) { %>
                    <ul>
                        <% expiringSkills.forEach(function(skill) { 
                            let expiryDate = new Date(skill.expiry_date);
                            let today = new Date();
                            let timeDiff = expiryDate - today;
                            let daysLeft = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));
                            let bgColor = '';

                            if (daysLeft <= 7) {
                                bgColor = 'background-red';
                            } else if (daysLeft <= 21) {
                                bgColor = 'background-yellow';
                            } else {
                                bgColor = 'background-normal';
                            }
                        %>
                            <li class="<%= bgColor %> notification-item">
                                <%= skill.skill.skill_name %> is going to expire on <%= new Date(skill.expiry_date).toLocaleDateString('en-GB', { year: 'numeric', month: 'short', day: 'numeric' }) %>, please update.
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>No expiring skills</p>
                <% } %>
            </div>
        </div>

        <form action="/logout" method="POST" style="display:inline;">
            <button type="submit" class="logout-button">Log out</button>
        </form>
    </div>        
</div>
