<!-- Jackk -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <%- include('navbar') %>

    <main class="skill-detail-container">
        <h2>My skills > <%= skill.skill_name %></h2>
        
        <div class="skill-info">
            <div>
                <h3>Skill Name</h3>
                <p><%= skill.skill_name %></p>
            </div>
            <div>
                <h3>Strength</h3>
                <p><%= skillStrength.skill_strength_name %></p>
            </div>

            <div class="action-buttons">
                <button type="submit" class="save-button">Save Changes</button>
            <div>
                <h3>Expiry Date</h3>
                <p><%= expiryDate ? new Date(expiryDate).toDateString() : 'No expiry date set' %></p>

            </div>
        </div>

        <div class="notes-section">
            <h3>Notes</h3>
            <textarea readonly><%= notes || 'No notes available' %></textarea>
        </div>

        <div class="action-buttons">
            <a href="/my_skills" class="view-button">View all Skills</a>
        </div>
    </main>

</body>
</html>
